cflow_ven
__pycache__
*.zip
*.code-workspace
__temp__
dynamic_engine/dynamic_models
venv/

# Model files (too large for GitHub)
Cashflow\ Forecasting/models/*/*
!Cashflow\ Forecasting/models/preprocessor.pkl